/* Grundläggande styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    color: #333;
  }
  
/* Video background */
.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* Cover screen */
    z-index: -1; /* Place behind content*/
}

/* Overlay text and button visibility */
.overlay {
    position: fixed;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    text-align: center;
    font-size: 2rem;
}

/* Header */
h1 {
    font-size: 4rem;
    color: #ef9afb;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
}

p {
    font-size: 1.5rem;
    max-width: 600px;
    line-height: 1.6;
    margin-bottom: 2rem;
    color: #fceeea;
}

/* Hero-buttons */
.hero-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.btn {
    padding: 15px 30px;
    background-color: #fba9c9;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #f47fac;
    ;
    color: white;
}

/* Smaller screens */
@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.2rem;
    }

    .btn {
        padding: 10px 20px;
        font-size: 1rem;
    }

    .hero-buttons {
        flex-direction: column; /* Vertical buttons */
    }
}