#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fce5ee;
}

p {
  font-size: 1.5rem;
  max-width: 600px;
  line-height: 1.6;
  margin-bottom: 2rem;
  color: #fceeea;
}

/* Buttons* */
.btn {
  padding: 10px 30px;
  background-color: #ffbcd5;
  color: #f0518e;
  text-decoration: none;
  border-radius: 30px;
  font-size: 1.1rem;
  transition: background-color 1s ease;
}

.scroll-button {
  margin-top: 30px;
  padding: 15px 30px;
  background-color: white;
  color: #fba9c9;
  font-size: 1.2rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 1s ease;
}

.btn:hover,
.scroll-button:hover {
  background-color: #f47fac;
  color: white;
  transition: color 1s ease;
}

/* Hero-section */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8bdd3;
  color: white;
  text-align: center;
  padding: 20px;
}

.hero h1 {
  color: #f47fac;
  text-shadow: none;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  max-width: 600px;
}

/* Smaller screens */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.5rem;
  }

  .btn {
    padding: 10px 20px;
    font-size: 1rem;
}

  .catalog-page h1 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .contact-form {
    padding: 20px;
  }

}